<div class="bg-dark" data-bs-theme="dark">
    <div class="container">
        <footer class="py-5">
          <div class="row mb-5 my-md-5 justify-content-md-center">
            <a class="col-9 col-md-4" load="home">
              <img src.bind="logo" alt="Logo Asegurate"
                class="img-fluid">
            </a>
          </div>

          <div class="row justify-content-between">
            <div class="col-12 col-md-2 mb-3">
              <h5>Planes de Salud</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Obamacare</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Planes Individuales y Grupo Familiar</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">MEDICARE y MEDICAID</a></li>

              </ul>
            </div>
      
            <div class="col-12 col-md-2 mb-3">
              <h5>Nuestros Servicios</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Asesoria Personalizada</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Asistente Virtual</a></li>
              </ul>
            </div>
      
            <div class="col-12 col-md-2 mb-3">
              <h5>Enlaces</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Ver mi Tarjeta de Identificacion (ID)</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Reclamaciones y Sugerencias</a></li>
              </ul>
            </div>
    
            <div class="col-12 col-md-2 mb-3">
                <h5>Sobre Nosotros</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Propósito, Misión y Visión</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Equipo</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Agentes</a></li>
                </ul>
              </div>
    
              <div class="col-12 col-md-2 mb-3">
                <h5>Recursos</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Que es un Seguro de Salud</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Another action</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Tipos de Planes de Salud</a></li>
                </ul>
              </div>
    
          </div>
      
          <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>&copy; 2024 Company, Inc. All rights reserved.</p>
            
            <div class="d-flex fs-3 gap-3 cursor-pointer">
             <a href="#" class="text-decoration-none p-0"><i class="hgi hgi-stroke hgi-instagram"></i></a>
             <a href="#" class="text-decoration-none p-0"><i class="hgi hgi-stroke hgi-facebook-01"></i></a>
             <a href="#" class="text-decoration-none p-0"><i class="hgi hgi-stroke hgi-new-twitter-ellipse"></i></a>              
            </div>
          </div>
        </footer>
    </div>
</div>