
<div class="container">
  <h1 class="display-4 mt-4 text-center">Sponsors </h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <p class="fs-4 text-center">
        Trabajamos de la mano con compañías y organizaciones comprometidas con la salud y el bienestar de nuestra comunidad. 
      </p>
    </div>
  </div>
  <section class="sponsors-section">
    <div class="container">

      <div class="sponsor-slider">
        <div class="sponsor-track align-items-center">
          <!-- Logos (duplicados para crear efecto infinito) -->
          <div class="sponsor-item">
            <img src="https://orinostudio.com/rakon-theme/assets/img/logos/netflix.png" alt="Nirastate">
          </div>
          <div class="sponsor-item">
            <img src="https://orinostudio.com/rakon-theme/assets/img/logos/google.png" alt="UTOSIA">
          </div>
          <div class="sponsor-item">
            <img src="https://orinostudio.com/rakon-theme/assets/img/logos/fitbit.png" alt="Velocity9">
          </div>
          <div class="sponsor-item">
            <img src="https://orinostudio.com/rakon-theme/assets/img/logos/slack.png" alt="Goldline">
          </div>
          <div class="sponsor-item">
            <img src="https://orinostudio.com/rakon-theme/assets/img/logos/aust.png" alt="Velocity9">
          </div>
          <div class="sponsor-item">
            <img src="https://orinostudio.com/rakon-theme/assets/img/logos/uber.png" alt="Karma">
          </div>

          <!-- Duplicados para crear efecto infinito -->
          <div class="sponsor-item">
            <img src="https://orinostudio.com/rakon-theme/assets/img/logos/netflix.png" alt="Nirastate">
          </div>
          <div class="sponsor-item">
            <img src="https://orinostudio.com/rakon-theme/assets/img/logos/google.png" alt="UTOSIA">
          </div>
          <div class="sponsor-item">
            <img src="https://orinostudio.com/rakon-theme/assets/img/logos/fitbit.png" alt="Velocity9">
          </div>
          <div class="sponsor-item">
            <img src="https://orinostudio.com/rakon-theme/assets/img/logos/slack.png" alt="Goldline">
          </div>
          <div class="sponsor-item">
            <img src="https://orinostudio.com/rakon-theme/assets/img/logos/aust.png" alt="Velocity9">
          </div>
          <div class="sponsor-item">
            <img src="https://orinostudio.com/rakon-theme/assets/img/logos/uber.png" alt="Karma">
          </div>
        </div>
        <div class="logos_masks"></div>
      </div>
    </div>
  </section>
</div>