<nav class="navbar navbar-expand-lg mb-0 sticky-top p-0 border-bottom border-black" aria-label="Offcanvas navbar large">
  <div class="container">
    <a class="col-6 col-md-3 ps-0" load="home">
      <img src.bind="logo" alt="Logo Asegurate"
        class="img-fluid">
    </a>
    <button class="navbar-toggler border-0 pe-0 fw-bold" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
      aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
      <i class="hgi hgi-stroke hgi-menu-11 fs-4"></i>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar2"
      aria-labelledby="offcanvasNavbar2Label">
      <div class="offcanvas-header justify-content-between">

        <a class="col-8" load="home">
          <img src.bind="logo" alt="Logo Asegurate"
            class="img-fluid">
        </a>

        <button type="button" class="nav-link" data-bs-dismiss="offcanvas"
          aria-label="Close">
          <i class="hgi hgi-stroke hgi-circle-arrow-right-02 fs-1 text-secondary"></i>
        </button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 gap-4 gap-md-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-medium " href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Planes de Salud
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Obamacare</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Planes Individuales y Grupo Familiar</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">MEDICARE y MEDICAID</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-medium " href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Nuestros Servicios
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Asesoria Personalizada</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Asistente Virtual</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-medium " href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Enlaces
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Ver mi Tarjeta de Identificacion (ID)</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Reclamaciones y Sugerencias</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-medium " href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Sobre Nosotros
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Propósito, Misión y Visión</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Equipo</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Agentes</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-medium " href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Recursos
            </a>
            <ul class="dropdown-menu dropdown-menu-md-end">
              <li><a class="dropdown-item" href="#">Que es un Seguro de Salud</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Tipos de Planes de Salud</a></li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </div>
</nav>